$netocentre: #24b2f3;
$touraine: #C60440;
$agricol: #2d8c17;
$colleges41: #009FE3;
$chercan: #004899;
$colleges36: #0069B3;
$colleges45: #26448a;
$colleges28: #303030;

$blue: #25b2f3;

$main-color: $netocentre;

@mixin add-etablissment($color) {
    .moremenu .nav-link.active {
        border-bottom-color: $color;
    }
    .nav-link.focus, .nav-link:focus {
        box-shadow: 0 0 0 0.2rem $color;
    }
}

/* Footer */
footer.netocentre#page-footer {
    color: #1d2125;
    a {
        color: inherit;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
    img{
        height : 40px;
    }
    .logo{
        display: none;
    }
    .part-academie-orleans-tours{
        display : initial;
    }
    #partners img{
        margin-right: 10px;
    }
}

nav.navbar a.navbar-brand {
    padding-left: 55px!important;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 0px center;
}

nav.navbar a.navbar-brand {
    background-image: url('https://e-education.recia.fr/images/partners/moodle-netocentre-logo.svg');
}

/* Spécificité des thèmes */
body.theme-netocentre {
    @include add-etablissment($netocentre);
    footer.netocentre#page-footer{
        .logo-netocentre,
        .part-centre-val-de-loire{
            display : initial;
        }
    }
}

body.theme-touraine {
    @include add-etablissment($touraine);
    footer.netocentre#page-footer{
        .logo-touraine{
            display : block;
        }
        .part-touraine{
            display : initial;
        }
    }
    nav.navbar a.navbar-brand {
        background-image: url('https://e-education.recia.fr/images/partners/moodle-touraine-logo.svg');
    }
}
  
body.theme-colleges41 {
    @include add-etablissment($colleges41);
    footer.netocentre#page-footer{
        .logo-colleges41{
            display : block;
        }
        .part-colleges41{
            display : initial;
        }
    }
    nav.navbar a.navbar-brand {
        background-image: url('https://e-education.recia.fr/images/partners/moodle-colleges41-logo.svg');
    }
}
  
body.theme-chercan {
    @include add-etablissment($chercan);
    footer.netocentre#page-footer{
        .logo-chercan{
            display : block;
        }
        .part-chercan{
            display : initial;
        }
    }
    nav.navbar a.navbar-brand {
        background-image: url('https://e-education.recia.fr/images/partners/moodle-chercan-logo.svg');
    }
}
  
body.theme-colleges36 {
    @include add-etablissment($colleges36);
    footer.netocentre#page-footer{
        .logo-colleges36{
            display : block;
        }
        .part-colleges36{
            display : initial;
        }
    }
    nav.navbar a.navbar-brand {
        background-image: url('https://e-education.recia.fr/images/partners/moodle-colleges36-logo.svg');
    }
}
  
body.theme-colleges45 {
    @include add-etablissment($colleges45);
    footer.netocentre#page-footer{
        .logo-colleges45{
            display : block;
        }
        .part-colleges45{
            display : initial;
        }
    }
    nav.navbar a.navbar-brand {
        background-image: url('https://e-education.recia.fr/images/partners/moodle-colleges45-logo.svg');
    }
}
  
body.theme-colleges28 {
    @include add-etablissment($colleges28);
    footer.netocentre#page-footer{
        .logo-colleges28{
            display : block;
        }
        .part-colleges28{
            display : initial;
        }
    }
    nav.navbar a.navbar-brand {
        background-image: url('https://e-education.recia.fr/images/partners/moodle-colleges28-logo.svg');
    }
}
  
body.theme-agricol {
    @include add-etablissment($agricol);
    footer.netocentre#page-footer{
        .logo-netocentre{
            display : block;
        }
        .part-agricole,
        .part-centre-val-de-loire{
            display : initial;
        }
        .part-academie-orleans-tours{
            display : none;
        }
    }
}


/* gestion du passage des tableaux en cards */
@media screen and (max-width:991px) {
  table {
    &.table-responsive-to-cards {
      overflow-x: hidden;
      thead{
        display: none;
      }
      td, th{
        border: none;
        white-space: initial !important;
      }
      tr{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1rem 0;
        padding: 1rem 0.5rem 0.5rem 1rem;
        background-color: rgba(255, 255, 255, 0.85);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2), 0px 8px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid rgba(136, 136, 136, 0.2);
      }
      td {
        margin: 0 0.5rem 0.5rem 0;
        padding: 0.5rem;
        text-align: left;
        background-color: transparent;
        &:not(.action):before {
          content: attr(data-label) ": ";
          float: left;
          margin: 0 0.5rem 0 0;
          font-weight: bold;
          background: transparent;
        }
        &.action {
          float: none;
          flex-basis: 100%;
          width: 100%;
          text-align: center;
          background: transparent;
        }
        &:empty {
          display: none;
        }
      }
    }
  }
}