{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<footer id="page-footer" class="py-3 netocentre">
    <div id="netocentre">
        <img alt="Région Centre-Val de Loire" src="/images/partners/netoCentreGIP.svg">
    </div>
    <div id="touraine-eschool">
        <img alt="Département de la Touraine" src="/images/partners/touraineGIP.svg">
    </div>
    <div id="colleges41">
        <img alt="Département du Loir et Cher" src="/images/partners/colleges41GIP.svg">
    </div>
    <div id="chercan">
        <img alt="Département du Cher" src="/images/partners/chercanGIP.svg">
    </div>
    <div id="colleges36">
        <img alt="Département de l'Indre" src="/images/partners/monecollege36GIP.svg">
    </div>
    <div id="colleges45">
        <img alt="Département du loiret" src="/images/partners/monecollege45GIP.svg">
    </div>
    <div id="partners">
        <a href="http://www.regioncentre.fr/" id="centre-val-de-loire" title="Centre Val de Loire" target="_blank">
            <img alt="Région Centre-Val de Loire" src="/images/partners/centreValLoire.svg">
        </a>
        <a href="http://www.cg37.fr/" id="touraine" title="Touraine" target="_blank">
            <img alt="Département de la Touraine" src="/images/partners/touraine.svg">
        </a>
        <a href="https://www.departement41.fr/" id="colleges41" title="Loir-et-Cher" target="_blank">
            <img alt="Département du Loir-et-Cher" src="/images/partners/loir-et-cher.svg">
        </a>
        <a href="https://www.departement18.fr/" id="chercan" title="Cher" target="_blank">
            <img alt="Département du Cher" src="/images/partners/cher.svg">
        </a>
        <a href="https://www.indre.fr/" id="colleges36" title="Indre" target="_blank">
            <img alt="Département de l'Indre" src="/images/partners/indre.svg">
        </a>
        <a href="https://www.loiret.fr/" id="colleges45" title="Loiret" target="_blank">
            <img alt="Département du Loiret" src="/images/partners/loiret.svg">
        </a>
        <a href="http://www.ac-orleans-tours.fr/" id="academie-orleans-tours" title="Academie Orleans Tours" target="_blank">
            <img alt="Academie Orleans Tours" id="acadOrleTour" src="/images/partners/academieOrleansTours.svg" target="_blank">
        </a>
        <a href="http://draaf.centre.agriculture.gouv.fr/" id="agricole" title="Enseignement Agricole" target="_blank">
            <img alt="Enseignement Agricole" id="agricol" src="/images/partners/enseignementAgricole.svg">
        </a>
        <a href="http://www.centre.pref.gouv.fr/" title="Republique Francaise" target="_blank">
            <img alt="Republique Francaise" src="/images/partners/republiqueFrancaise.svg">
        </a>
        <a href="https://ec.europa.eu/regional_policy/fr/funding/erdf/" title="Europe" target="_blank">
            <img alt="Europe" src="/images/partners/FEDER_Europe.svg">
        </a>
        <a href="http://www.europeocentre-valdeloire.eu/" title="FEDER" target="_blank">
            <img alt="Europe" src="/images/partners/RCVdL_FEDER.svg">
        </a>
    </div>
    {{# output.page_doc_link }}
        <div class="text-right">
            <div id="course-footer">{{{ output.course_footer }}}</div>

            <p class="helplink">{{{ output.page_doc_link }}}</p>

            {{{ output.login_info }}}
            <div class="tool_usertours-resettourcontainer"></div>
            {{{ output.home_link }}}
            <nav class="nav navbar-nav d-md-none">
                {{# output.custom_menu_flat }}
                    <ul class="list-unstyled pt-3">
                        {{> theme_boost/custom_menu_footer }}
                    </ul>
                {{/ output.custom_menu_flat }}
            </nav>
            {{{ output.standard_footer_html }}}
        </div>
    {{/ output.page_doc_link }}
</footer>
{{{ output.standard_end_of_body_html }}}
